:root {
	--svelte: #ff3e00;
	--primary: #5e2bff;
	--secondary: #F3FAE1;
	--black: #040404;
	--white: #fcfcfc;
}

* {
	box-sizing: border-box;
	color: inherit;
	font-family: 'Fira Code', monospace;
	margin: 0;
	padding: 0;
}

html, body {
	background-color: var(--white);
	color: var(--black);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}