:root {
	--background: #B5F8FE;
	--accent-1: #FBD87F;
	--accent-2: #F75590;
	--accent-3: #FCE4D8;
}

* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: Helvetica, sans-serif;
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

body > div {
	padding: 1rem;
}
button:not(:disabled) {
	cursor: pointer;
}
button:active,
button:hover,
button:focus {
	outline: none;
}

.stack > * + * {
	margin-top: 1rem;
}
