:root {
	--primary-dark: #2c6e49;
	--primary: #4c956c;
	--secondary: #ffc9b9;
	--accent: #d68c45;
	--black: #040404;
	--white: #fcfcfc;
}

* {
	box-sizing: border-box;
	color: inherit;
	font-family: 'Fira Code', monospace;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	background-color: #4C956C;
	color: var(--white);
}