pre {
    background-color: var(--accent-1);
    border-left: 2px solid var(--accent-2);
    color: #211A1E;
    font-family: monospace;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
}

code {
    background-color: var(--accent-1);
}

.token.keyword { color:  #0F3BFF;}
.token.operator { color: #782726; }
.token.string { color: #AF2628; }
.token.punctuation { color: #775603; }
.token.tag { color: #782726; }

.token.attr-name { color:  #0F3BFF;}
.token.attr-value { color:  #AF2628;}