---
slug: components/carousel/example-index
title: A plain Carousel example
---

# A Plain Carousel

This is the most basic carousel, a simple block with a previous and next button

<script>
    import Carousel from '../../../../../src/Carousel.svelte'
    const items = ["Squirrel 🐿️", "Rabbit 🐇", "Hamster 🐹"]
</script>

<style>
    div {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        width: 100%;
    }
    button {
        border: 1px solid #c0c0c0;
        flex: 0 0 13ch;
        padding: .75rem .5rem;
    }
    span {
        border: 1px solid #c0c0c0;
        flex: 1 0;
        padding: .75rem .5rem;
        text-align: center;
    }
</style>

<Carousel items="{items}" let:payload let:controls loop>
    <div>
	    <button on:click={controls.previous}>&lt; Previous</button>
        <span>{payload}</span>
	    <button on:click={controls.next}>Next &gt;</button>
    </div>
</Carousel>

**App.svelte**

```svelte
<script>
    import Carousel from 'renderless-svelte'
    const items = ["Squirrel 🐿️", "Rabbit 🐇", "Hamster 🐹"]
</script>

<style>
    div {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        width: 100%;
    }
    button {
        border: 1px solid #c0c0c0;
        flex: 0 0 13ch;
        padding: .75rem .5rem;
    }
    span {
        border: 1px solid #c0c0c0;
        flex: 1 0;
        padding: .75rem .5rem;
        text-align: center;
    }
</style>

<Carousel items="{items}" let:payload let:controls loop>
    <div>
	    <button on:click={controls.previous}>&lt; Previous</button>
        <span>{payload}</span>
	    <button on:click={controls.next}>Next &gt;</button>
    </div>
</Carousel>
```