---
slug: components/tooltip/example-options
title: A Tooltip with extra options
---

# A Tooltip with extra options

In this example we can see how passing extra options can be used to differentiate tooltips.  In this the Squirrel 🐿️ has received an extra option `css: 'orange'`, when present the Tooltip component will add this property as a class to the markup, conveniently turning this tooltip orange.

<script>
    import { tooltip, Tooltip } from '../../../../../src/index.js'
</script>

<style>
    button {
        margin: 2rem 1rem;
        padding: 1rem;
    }
	.tooltip {
		background-color: black;
		border-radius: .25rem;
		color: white;
		position: fixed;
		padding: .25rem .5rem;
		transform: translateX(-50%);
	}
	.tooltip:before {
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: black transparent transparent transparent ;
		content: '';
		height: 0;
		position: absolute;
		left: calc(50% - 5px);
		bottom: -5px;
		width: 0;
	}
    .orange {
        background-color: var(--accent);
    }
	.orange:before {
		border-top-color: var(--accent);
	}
</style>

<button use:tooltip="{{text: 'Squirrel', css: 'orange'}}">🐿️</button>
<button use:tooltip="{{text: 'Rabbit'}}">🐇</button>
<button use:tooltip="{{text: 'Hamster'}}">🐹</button>

<Tooltip let:options let:dimensions>
	{#if options}
		<div class="tooltip {options.css ? options.css : ''}" style="left: {dimensions.x + (dimensions.width / 2)}px; top: calc({dimensions.y}px - 2.75rem - 5px);">
			<span>{options.text}</span>
		</div>
	{/if}
</Tooltip>

```svelte
<script>
    import { tooltip, Tooltip } from 'renderless-svelte'
</script>

<style>
    button {
        margin: 2rem 1rem;
        padding: 1rem;
    }
	.tooltip {
		background-color: black;
		border-radius: .25rem;
		color: white;
		position: fixed;
		padding: .25rem .5rem;
		transform: translateX(-50%);
	}
	.tooltip:before {
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: black transparent transparent transparent ;
		content: '';
		height: 0;
		position: absolute;
		left: calc(50% - 5px);
		bottom: -5px;
		width: 0;
	}
    .orange {
        background-color: var(--primary);
    }
	.orange:before {
		border-top-color: var(--primary);
	}
</style>

<button use:tooltip="{{text: 'Squirrel', css: 'orange'}}">🐿️</button>
<button use:tooltip="{{text: 'Rabbit'}}">🐇</button>
<button use:tooltip="{{text: 'Hamster'}}">🐹</button>

<Tooltip let:options let:dimensions>
	{#if options}
		<div class="tooltip {options.css ? options.css : ''}" style="left: {dimensions.x + (dimensions.width / 2)}px; top: calc({dimensions.y}px - 2.75rem - 5px);">
			<span>{options.text}</span>
		</div>
	{/if}
</Tooltip>
```