---
    title: Sliding Accordeon
    summary: Make your accordeons slide out!
    tags: accordeon
---

<script>
    import Example from './Example.svelte'
</script>

## Sliding Carousel

To make your accordeons more pleasant to use, it is nice to smoothly _unfold_ them instead of just suddenly appearing. Using Svelte's build in transition methods this can be very easily achieved by simply adding one to the contents itself:

```html
<div transition:slide></div>
```

<Example />

```svelte
<script>
    import { slide } from 'svelte/transition'

    import { Accordeon, AccordeonGroup } from 'renderless-svelte'
</script>

<AccordeonGroup>
    <Accordeon>
        <button slot="header" let:toggle on:click={toggle}>Squirrel 🐿️</button>
        <div transition:slide>
            This is a text about Squirrels 🐿️
        </div>
    </Accordeon>
    <Accordeon>
        <button slot="header" let:toggle on:click={toggle}>Rabbit 🐇</button>
        <div transition:slide>
            This is a text about Rabbits 🐇
        </div>
    </Accordeon>
    <Accordeon>
        <button slot="header" let:toggle on:click={toggle}>Hamster 🐹</button>
        <div transition:slide>
            This is a text about Hamsters 🐹
        </div>
    </Accordeon>
</AccordeonGroup>
```
