:root {
  --primary-hue: 330;
  --primary-sat: 80%;
  --secondary-hue: 150;
  --secondary-sat: 80%;
}

*,
*::after,
*::before {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*:active,
*:focus,
*:hover {
  outline: none;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  line-height: 1.5;

  --dark-bg: hsl(var(--primary-hue), 80%, 20%);
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

main {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.25em;
  margin-top: 1em;
}

h3 {
  font-weight: 600;
}

a {
  align-items: center;
  display: inline-flex;
  gap: 0.5ch;
}

hr {
  border-top: 2px solid hsl(var(--primary-hue), var(--primary-sat), 20%);
  margin: 1em;
}

code,
pre {
  background-color: hsl(var(--secondary-hue), var(--secondary-sat), 80%);
  font-weight: 500;
}

pre {
  border-left: 6px solid hsl(var(--secondary-hue), var(--secondary-sat), 40%);
  font-family: monospace;
  overflow-x: auto;
  padding: 1em;
}

table {
  border-collapse: collapse;
}
td,
th {
  padding: 0.25em 0.5em;
  text-align: left;
}
table tr:not(:last-child) {
  border-bottom: 1px dashed grey;
}
table thead {
  border-bottom: 1px solid grey;
  font-weight: 700;
}
td:not(:first-child),
th:not(:first-child) {
  border-left: 1px solid grey;
}

ul {
  counter-reset: listing;
}
li {
  align-items: flex-start;
  counter-increment: listing;
  display: flex;
  gap: 1ch;
}

li:before {
  color: hsl(var(--primary-hue), var(--primary-sat), 20%);
  content: counter(listing);
  font-weight: 600;
}
