:root {
	--primary-200: #14A3A1;
	--primary-400: #17BEBB;
	--primary-600: #25E4E1;
	--secondary-200: #E3944F;
	--secondary-400: #E9A972;
	--secondary-600: #EDB88B;
	--gray-100: #2E282A;
	--gray-200: #4C4246;
	--gray-300: #62555A;
	--gray-400: #78686E;
	--gray-500: #8D7C82;
	--gray-600: #A09297;
	--gray-700: #B3A8AB;
	--gray-800: #C6BEC0;
	--gray-1000: #D9D3D5;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	text-decoration: inherit;
}
html {
	background-color: var(--gray-1000);
	font-family: 'Saira', sans-serif;
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
ul {
	list-style-type: none;
}
img {
	display: block;
	width: 100%;
}

pre {
	font-family: 'Share Tech Mono', monospace;
}