---
slug: components/notifications/example-banner
title: A Banner Notification
---

<Link href="/components/notifications">Notifications</Link>

# Banner Notification

In this example the notifactions are rendered as a banner on top of this section of the page.

Clicking any of the animals will trigger the banner, naming the animal clicked and as many little icons of said animal as has been clicked.

<script>
	import { fade } from 'svelte/transition' 
	import ActionButton from './_ActionButton.svelte'	
    import Link from '../../../components/Link.svelte'
	import Notification from '../../../../../src/Notifications.svelte'
</script>

<style>
	span {
		background: var(--secondary);
        box-shadow: 0 4px 4px rgba(0,0,0,.75);
        color: white;
        position: fixed;
        left: 0;
        margin: 0;
        padding: 1rem;
        top: -1rem;
        width: 100%;
        z-index: 200;
	}
</style>

<ActionButton animal="Squirrel" icon="🐿️" />
<ActionButton animal="Rabbit" icon="🐇" />
<ActionButton animal="Hamster" icon="🐹" />

<Notification let:payload duration="5000">
	<span in:fade={{ duration: 250 }}>
        {payload.animal}
        {#each Array(payload.i) as i}
            {payload.icon}
        {/each}
    </span>
</Notification>

**App.svelte**

```svelte
<script>
	import { fade } from 'svelte/transition' 
	import ActionButton from './ActionButton.svelte'	
	import Notification from 'renderless-svelte'
</script>

<style>
	span {
		background: var(--secondary);
        box-shadow: 0 4px 4px rgba(0,0,0,.75);
        color: white;
        position: fixed;
        left: 0;
        margin: 0;
        padding: 1rem;
        top: -1rem;
        width: 100%;
        z-index: 200;
	}
</style>

<ActionButton animal="Squirrel" icon="🐿️" />
<ActionButton animal="Rabbit" icon="🐇" />
<ActionButton animal="Hamster" icon="🐹" />

<Notification let:payload duration="1250">
	<span in:fade={{ duration: 250 }}>
        {payload.animal}
        {#each Array(payload.i) as i}
            {payload.icon}
        {/each}
    </span>
</Notification>
```

**ActionButton.svelte**

```svelte
<script>
	import { notifications } from 'renderless-svelte'
    export let animal
    export let icon

    const handleClick = () => {
        i++;

        notifications.push({
            animal,
            icon,
            i
        })
    }
	let i = 0
</script>

<style>
    button {
        border-radius: .5rem;
        padding: .25rem 1rem;
    }
    button:active,
    button:focus,
    button:hover {
        outline: none;
    }
</style>

<button on:click="{handleClick}">
	{animal} {icon}
</button>

```